.todolist-container {
    background-color: #26292e;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gray-container {
    padding: 3rem;

    background: linear-gradient(125deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0.06) 100%);
    backdrop-filter: blur(43.4288px);
    mix-blend-mode: normal;
    border-radius: 20px;
    opacity: 0.95;

    border: 2px solid linear-gradient(125deg, rgba(255, 255, 255, 0.24) 0%, rgba(255, 255, 255, 0) 100%);

    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.todolist-container input {
    padding: 0.5rem 1rem;
    margin: 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.06);

    width: 50%;

    border-color: rgba(255, 255, 255, 0.4);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;

    font-family: 'Comfortaa';
    color: #fff;
}

.todolist-container input:focus {
    outline: none;
    border-color: #00d8ff;
}

.todolist-container button {
    font-family: 'Comfortaa';
    background: linear-gradient(125.43deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%);
    color: #fff;

    margin: 0 1rem;
    padding: 0.5rem 1rem;

    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 4px;
}

.newtask {
    margin: 1rem;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks {
    width: 100%;
    padding: 1rem;
    margin: 1rem;
}
