.clock-container {
    background-color: #26292e;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time-container {
    flex-direction: row !important;
    justify-content: center;
}

.time-container h3 {
    margin: 0 0.2rem;
}
