.calculator-container {
    background-color: #26292e;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
